name: CI
on:
  - push
  - pull_request
permissions:
  contents: read
jobs:
  test:
    name: Node.js ${{ matrix.node-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 18
          - 16
        os:
          # Ubuntu fails and I don't have time to look into it. PR welcome.
          # - ubuntu-latest
          - macos-latest
          # Windows fails and I don't have time to look into it. PR welcome.
          # - windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm test
      # - uses: codecov/codecov-action@v3
      #   if: matrix.os == 'ubuntu-latest' && matrix.node-version == 16
      #   with:
      #     fail_ci_if_error: true
